/data/
/data_for_metrics/fake_data*/
/data_for_metrics/real_data/
.vscode/
checkpoints/
__pycache__/
results/
outputs/
mhp_extension/
trained_models/
map_image/
csv_data/
tps_data/
pretrained
type_sort/
tiled/util/completion_test/
tiled/util/lama-main/
tiled/util/pix2pixHD-master/

*.jpg
*.png
*.gif
*.csv
*.so
*.pth
*.npz
*.out
*.txt
